/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #00589b;
$presentation-title-slide-text-align: "left";
$presentation-subtitle-slide-text-align: "left";
$code-block-font-size: 0.6em;
$code-color: #5f5f5f;
$presentation-h2-font-size: 1.4em;

/*-- scss:rules --*/

.goals-header {
  margin-left: 0em;
  padding-left:  10px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: rgb(123, 173, 173);
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("goal.png");
}

.goals-container {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  color: black;
  font-size: 1.1em;
  background-color: rgb(173,216,230);
  border-bottom-right-radius: 10px;
}

.reveal .slide-logo {
  max-height: 120px !important;
}

.reveal .custom-title {
  position: absolute;
  color: #00589b;
  font-size: 3em;
  text-align: right;
  right: 20px;
  top: -200px;
}
#title-slide {
  .title {
    font-size: 1.5em;
    color: white;
  }

  .subtitle {
    font-size: 1.4em;
    color: white;
  }

  .quarto-title-author {
    font-size: 1.4em;
    color: white;
  }
}

.reveal .custom-author {
  position: absolute;
  color: #E8E8E8;
  font-size: 1.4em;
  text-align: right;
  right: 20px;
  top: 300px;
}

.reveal .custom-twitter a {
  position: absolute;
  color: #1DA1F2;
  font-size: 1.3em;
  text-align: right;
  right: 20px;
  top: 470px;
}

.reveal .custom-url a {
  position: absolute;
  color: #00589b;
  font-size: 1.5em;
  text-align: right;
  right: 20px;
  top: 570px;
}

details>summary {
  font-size: 0.75em;
}

.small {
  font-size: 0.75em;
}

.table-striped {
  > tbody > tr:nth-of-type(odd) > * {
    background-color: #f2f2f2;
  }
}

.reveal .slide .in-out {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #E8E8E8;
  font-family: $font-family-monospace;
  font-size: 0.6em;
}


.reveal .slide .goal {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #ccddeb;
}
